<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudtech.sante"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

 <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity

            android:name="com.cloudtech.sante.MainActivity"

            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

  		<activity android:name="com.cloudtech.sante.DocumentActivity" />
  		<activity android:name="com.cloudtech.sante.MemoActivity"/>
  		<activity android:name="com.cloudtech.sante.TimelineActivity" />
  		<activity android:name="com.cloudtech.sante.InfoActivity" />
  		<activity android:name="com.cloudtech.sante.EvolutionActivity" />
  		<activity android:name="com.cloudtech.sante.UrgenceActivity" />
		<receiver android:name="SanteWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/sante_widget_meta" />
		</receiver>
 
		<!-- Configure activity -->
		<activity android:name="SanteWidgetConfigure" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		
		<service android:name="SanteWidgetService"></service>
    </application>
    


</manifest>
